# Ignore absolutely everything by default
*

# Exceptions: Allow only the official production PWA files
!index.html
!app.html
!manifest.json
!sw.js
!LOGO PNG.png
!icon-192.png
!icon-512.png
!.gitignore
!README.md
!.well-known/
!.well-known/assetlinks.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
