# Ignore absolutely everything by default
*

# Exceptions: Allow only the official production PWA files
!index.html
!manifest.json
!sw.js
!LOGO PNG.png
!.gitignore

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
